
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth !important;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
 

/*general styling*/
html{
  scroll-behavior: smooth;
}
p{
  line-height: 1.5;
}
ul{
  list-style: none;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  display: block;
}
body{
  background-color: hsl(50, 43%, 98%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}
.heading-1{
  font-size: 2.5rem;
  font-weight: 700;
}
.main-header{
  width: 100%;
  position: absolute;
  top: 0px;
  padding: 15px 0;
}
.main-header.bg {
  position: fixed;
  top: 0px;
  padding: 15px 0;
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid #e0e0e0;
  color: #000;
  z-index: 999;
}
.main-header.bg .main-menu li a{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
.main-header.bg .logo{
  color: hsl(0, 0%, 12%);
  font-size: 1.1rem;
  font-weight: 700;
}
.main-header.bg .main-menu li a:hover{
  color: hsl(210, 100%, 50%);
  cursor: pointer;
}
.nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  display: flex;
  align-items: center;
}
.logo{
  color: hsl(210, 100%, 50%);
  font-size: 1.1rem;
  font-weight: 700;
}
.main-menu{
  display: flex;
  align-items: center;
}
.main-menu li{
  padding-left: 40px;
}
.main-menu li a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.main-menu li a:hover{
 color: hsl(210, 100%, 50%);
  cursor: pointer;
}
.hero-btns{
  margin-top: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.btn{
  background-color: hsl(210, 100%, 50%);
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  word-spacing: 0.1rem;
  border-radius: 100vmax;
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
}
.btn:hover{
  cursor: pointer;
  background-color: hsl(210, 100%, 70%);
  color: #fff;
}
.navbar .btn:hover{
  text-decoration: none;
}
.btn1:hover {
  border: 2px solid hsl(210, 100%, 50%);
  background-color: transparent;
  color: hsl(210, 100%, 50%);;
}
.btn2{
  background-color: transparent;
  color: hsl(210, 100%, 50%);
  border: 2px solid hsl(210, 100%, 50%);
  display: inline-block;
}
.btn2:hover{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}
.sidebar{
  display: none;
}
.menu-btns{
  display: none;
  background: transparent;
  border: 2px solid hsl(210, 100%, 50%);
  cursor: pointer;
}
.menu-btns svg{
 fill: hsl(210, 100%, 50%);
 margin: 0 3px;
}

.bg1{
  background: linear-gradient(90deg,#9999, #9999), url('../images/pexels-neo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 490px;
  width: 100%;
  position: relative;
}
.hero{
  position: absolute;
  top: 100px;
  left: 0;
  right:  0;
  padding: 50px 0;
}
.bg1:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
} 
.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}
.hero-text{
  color: #fff;
}
.heading-1 span:first-child{
  text-transform: uppercase;
  text-decoration: underline 0.180rem;
  text-decoration-color: hsl(210, 100%, 50%);
  text-underline-offset: 0.4rem;
  font-size: 2.5rem;
  font-weight: 700;
}
.heading-1 span:nth-of-type(2){
  font-weight: 300;
  font-style: normal;
  display: block;
  padding-top: 5px;
}

/*About Section*/
.heading-2{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
  left: 20px;
}
.heading-2:before{
  content: "";
  display: block;
  width: 5px;
  height: 25px;
  background: #000;
  top: 11px;
  left: -15px;
  background-color: hsl(210, 100%, 50%);
  position: absolute;
}
.about-section{
  padding: 80px 0;
  width: 85%;
  margin: 0 auto;
}
.grid-about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.about-text-wrap {
  width: 50%;
  max-width: 60%;
}
.about-img{
  max-width: 300px;
  border-radius: 5px;
}
.text{
  padding-bottom: 6px;
  font-size: 1rem;
  font-weight: 400;
  max-width: 100%;
}
.bold-text{
  font-weight: bold;
  opacity: 0.9;
}

/*SKILLS*/
.skills-section{
  width: 100%;
  margin: 0 auto;
}
.skills-section .heading-skills{
  margin-bottom: 0;
}
.skills-section p{
  font-style: normal;
}
.skills{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.skills li{
  background-color: #fff;
  border: 2px solid #c1c1c1;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  margin-left: 20px;
}
.skills h3{
  font-size: 1rem;
  font-weight: 400;
  padding-left: 0.5rem;
}
.skills img{
  width: 35px;
}
.fa-brands{
  cursor: pointer;
}
.fa-html5{
  font-size: 2.2rem;
  color: hsl(15, 90%, 50%);
}
.fa-css3{
  font-size: 2.2rem;
  background-color: hsl(199, 100%, 50%);
  color: #fff;
  padding: 5px;
  font-size: 1rem;
}
.fa-js{
  font-size: 2.2rem;
  color: hsl(50, 100%, 50%);
}
.fa-bootstrap{
  font-size: 2.2rem;
  color: rgb(87, 55, 122);
}

/*Portfolio Section*/
.portfolio{
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}
.portfolio-cards{
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}
.card{
  width: 290px;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #c1c1c1, -2px -2px 5px #c1c1c1;
  margin: 0 auto;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.card-name{
  margin: 1rem;
  padding-bottom: 0;
  font-size: 1rem;
  text-align: center;
}
.card-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.link-preview{
  text-align: center;
  color: hsl(210, 100%, 50%);
  font-size: 1.5rem;
  font-weight: 500;
}
.link-code{
  text-align: center;
  color: hsl(210, 100%, 50%);
  font-size: 1.6rem;
  font-weight: 500;
}
.heading-portfolio{
  margin-bottom: 0;
}

/* contact section */
.contact-section{
  width: 100%;
  padding-bottom: 30px;
  margin-top: 50px;
  background-color: hsl(0, 0%, 95%);
}
.form-title{
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: hsl(210, 100%, 50%);
  margin-bottom: 10px;
}
.form-wrapper{
  color: #000;
  padding: 25px 5px 0 5px;
  border-radius: 20px;
  max-width: 900px;
  margin: 0 auto;
}
.form-wrapper p{
  font-style: normal;
  text-align: center;
}

/* Display contact flex */
.contact-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-links ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-links p {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline 0.1rem;
  text-underline-offset: 0.1rem;
  margin-bottom: 1rem;
}
.contact-links ul li a i {
  font-size: 2rem;
  color: #000;
}
.form{
  margin: 20px 0;
  padding: 30px 20px;
  width: 600px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}
.form-group{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
}
.form input {
  height: inherit;
}
.form input,
.form textarea{
  width: 100%;
  padding: 0 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}
.msg-group{
  height: 150px;
  padding: 10px 0 0 20px;
  align-items: start;
}
.form textarea{
  height: 100%;
}
.form button{
  margin-top: 20px;
  background-color: hsl(210, 100%, 50%);
  border: 2px solid transparent;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
}
.form button:hover{
  background-color: transparent;
  border: 2px solid hsl(210, 100%, 50%);
  color: hsl(210, 100%, 50%);
  cursor: pointer;
}

/* back to top button */
.back-to-top{
  background-color: hsl(210, 100%, 50%);
  border-radius: 50%;
  padding: 0.8rem;
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  opacity: 0;
  transition: all .4s;
}
.back-to-top i{
  color: white;
  font-size: 1.5rem;
}
.back-to-top.active{
  opacity: 1;
}

.footer{
  background-color: #001;
  padding: 30px 0;
  color: #fff;
}
.footer-links{
 display: flex;
 align-items: center;
 margin: 25px 0;
}
.footer-links li{
  margin-right: 20px;
}
.footer-links i{
  color: #fff;
  font-size: 1.5rem;
}
.sidebar {
    display: none;
  }

/*Media Queries 900px */
@media(max-width: 900px){
  .about-section {
    margin: 0 auto;
    width: 100%;
  }
  .grid-about {
    padding: 0;
  }
}

/*Media Queries 800px*/
@media(max-width: 800px){
  .container{
    width: 95%;
  }
  .navbar .main-menu{
    display: none; 
  }
  .menu-btns{
    display: block;
    position: fixed;
    right : 10%;
    background-color: transparent;
    z-index: 999;
  }
  .menu-btns .close-menu{
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar.active{ 
    z-index: 999;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    height: auto;
    background-color: hsl(50, 43%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
     box-shadow: 500px 500px 500px 1000px rgba(141, 141, 141, 0.1);
     padding: 2rem 0;
  }
  .sidebar a{
    color: #000;
  }
  .sidebar a:hover{
    cursor: pointer;
    color: hsl(210, 100%, 50%);
  }

  .bg1{
    background-image: linear-gradient(90deg,#9999, #9999), url('../images/pexels-neo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 490px;
    width: 100%;
    border-bottom-right-radius: 0%;
    position: relative;
  }
  .hero{
    top: 90px;
    left: 0;
    right: 0;
    margin-top: -20px;
  }
  .hero-btns{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .hero-content{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
.hero-text h1 span:first-child{
  text-underline-offset: 0.4rem;
  display: block;
  padding-top: 10px;
}
  .btn{
    padding: 0.60rem 1.3rem;
    font-size: 1rem;
    word-spacing: 0;
  }
  .btn2{
    padding: 0.5rem 1.2rem;
  }

  /*About*/
  .about-section{
    width: 100%;
    padding: 50px 0;
  }
  .about-img{
    width: 300px;
  }
  .grid-about {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .about-text-wrap {
    width: 100%;
    max-width: 90%;
    text-align: center;
  }
  .heading-2{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
    position: relative;
    display: inline;
  }
  .heading-2:before{
    content: "";
    display: block;
    width: 5px;
    height: 25px;
    top: 10px;
    left: -15px;
    background-color: hsl(210, 100%, 50%);
    position: absolute;
  }

  /* Skills section */ 
  .skills-section {
    text-align: center;
  }
  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*Projects*/
  .portfolio{
    padding: 80px 0 50px 0;
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .projects-desc{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
  }
  .card{
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .card-name{
    color: hsl(0, 0%, 25%);
    font-size: 1rem;
  }
  .contact-section {
    padding: 1rem 0 3rem 0;
    margin: 1rem 0 0 0;
  }
.form-title{
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: hsl(210, 100%, 50%);
  margin-bottom: 10px;
}
.form-wrapper p {
  margin-bottom: 2rem;
}
.form-wrapper{
  max-width: 600px;
  margin-top: 50px;
  padding: 0 2rem;
}
.msg-group{
  padding: 10px 20px;
}
}
/* 900px */
@media(max-width: 700px){
  .card {
    width: 80%;
  }
  .heading-1 span.job {
    display: inline;
    font-size: 2.5rem;
  }
.sidebar {
   display: none;
}
}

/* 600px */
@media (max-width: 600px){
.sidebar {
display: none;
}
  .container{
    width: 100%;
    padding: 0 1rem;
  }
  .form{
    width: 100%;
    padding: 0.5rem;
    margin: 0 auto;
  }
  .form-group{
    width: 100%;
  }
  .heading-1 {
    font-size: 2.5rem;
  }
  .heading-1 span.job {
    margin: 0.5rem 0;
    display: block;
  }
}
